/*******************************************************************************
 * Power Menu
 *******************************************************************************/

configuration {
    show-icons: false;
}

@import               "./config/colors.rasi"
@import               "./config/fonts.rasi"

window {
    transparency:       "real";
    location:           center;
    width:              460px;
    border:             2px;
    border-radius:      4px;
    border-color:       @lavender;
    background-color:   @base;
}

mainbox {
    children:       [ "inputbar", "message", "listview" ];
    padding:        8px;
    spacing:        8px;
    orientation:    vertical;
}

inputbar {
    enable:         true;
    spacing:        8px;
    children:       [ "textbox-prompt-colon", "prompt" ];
}

textbox-prompt-colon {
    enable:             true;
    expand:             false;
    border-radius:      4px;
    str:                "󰐥";
    padding:            8px 14px;
    background-color:   @red;
    text-color:         @base;
}

prompt {
    padding:            8px;
    border-radius:      4px;
    background-color:   @green;
    enabled:            true;
    text-color:         @base;
    vertical-align:     0.5;
}

message {
    enabled:                     true;
    padding:                     10px;
    border-radius:               4px;
    background-color:            @surface-0;
    text-color:                  @text;
}

listview {
    columns:  4;
    lines:    1;
    spacing:  8px;
    cycle:    true;
}

textbox {
    background-color:            inherit;
    text-color:                  inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}


element {
    padding:            24px;
    border-radius:      4px;
    background-color:   @surface-0;
    text-color:         inherit;
}

element selected.normal {
    background-color:   @lavender;
    text-color:         inherit;
}

element-text {
    font:               "JetBrainsMono Nerd Font 24";
    vertical-align:     0.5;
    horizontal-align:   0.5;
    background-color:   inherit;
    text-color:         @base;    
}
