/*******************************************************************************
 * Wallpaper Picker
 *******************************************************************************/

configuration {
    show-icons: true;
}

@import               "./config/colors.rasi"
@import               "./config/fonts.rasi"

* {
    background-color:   @base;
}


window {
    background-color:   @base;
    text-color:         @text;
    width:              100%;
    location:           south;
    anchor:             south;
}

mainbox {
    enabled:          true;
    orientation:      vertical;
    children:         [ "inputbar", "listview" ];
}

inputbar {
    enable:         true;
    padding:        8px;
    children:       [ "textbox-prompt-colon" ];
}

textbox-prompt-colon {
    enable:             true;
    expand:             true;
    center:             true;
    border-radius:      4px;
    str:                "Select Your Wallpaper...";
    padding:            8px 14px;
    background-color:   @surface-0;
    text-color:         @text;
    horizontal-align:   0.5;
}

listview {
    enabled:            true;
    columns:            6;
    lines:              1;
    padding:            20px;
    spacing:            12px;
    cycle:              true;
    dynamic:            true;
    scrollbar:          false;
    layout:             vertical;
    reverse:            false;
    fixed-height:       true;
    fixed-columns:      true;
}

element {
    enabled:            true;
    border-radius:      4px;
    orientation:        vertical;
    children:           [ "element-icon" ]; 
}

element selected.normal {
    border:             12px;
    border-radius:      4px;
    border-color:       @lavender;
}

element-icon {
    size:               240px;
    horizontal-align:   0.5;
    vertical-align:     0.5;
    cursor:             pointer;
}