/*******************************************************************************
 * Wifi Manager (nmcli)
 *******************************************************************************/

configuration {
    show-icons:                  false;
}

@import               "./config/colors.rasi"
@import               "./config/fonts.rasi"

window {
    transparency:     "real";
    location:         northeast;
    anchor:           northeast;
    x-offset:         -12px;
    y-offset:         48px;
    width:            360px;
    border:           2px;
    border-radius:    4px;
    border-color:     @lavender;
    background-color: @base;
}

mainbox {
    enabled:          true;
    orientation:      vertical;
    children:         [ "inputbar", "listview" ];
    spacing:          10px;
    padding:          14px;
}

inputbar {
    enabled:          true;
    border-radius:    4px;
    spacing:          8px;
    children:         [ "textbox-prompt-colon", "entry" ];
}

textbox-prompt-colon {
    enable:             true;
    expand:             false;
    border-radius:      4px;
    str:                "󰖩 ";
    padding:            8px 14px;
    background-color:   @green;
    text-color:         @base;
}

entry {
    enabled:            true;
    placeholder:        "Type Here...";
    padding:            4px;
    text-color:         @text;
    background-color:   @surface-0;
    vertical-align:     0.5;
}

listview {
    enabled:          true;
    columns:          1;
    lines:            6;
    spacing:          6px;
    cycle:            true;
    dynamic:          true;
    scrollbar:        false;
    layout:           vertical;
    fixed-height:     false;
}

element {
    enabled:          true;
    padding:          10px;
    border-radius:    4px;
}

element selected.normal {
    background-color: @lavender;
    text-color:       @base;
}

element-text {
    vertical-align:   0.5;
    text-color:       inherit;
}
